@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LexieReadable';
  font-weight: 400;
  src: local('LexieReadable-Regular'),
    url(../public/static/fonts/LexieReadable/LexieReadable-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'LexieReadable';
  font-weight: 500;
  src: url(../public/static/fonts/LexieReadable/LexieReadable-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: url(../public/static/fonts/Nunito/static/Nunito-Medium.ttf);
}

@font-face {
  font-family: 'Wotfard';
  font-weight: 400;
  src: local('wotfard-regular-webfont'),
    url(../public/static/fonts/Wotfard-Regular-webfont/wotfard-regular-webfont.ttf)
      format('truetype');
}

body {
  @apply text-xl;
  @apply leading-8;
}

header > p {
  @apply text-secondary-600;
  @apply uppercase;
  @apply mt-1 mb-4;
}

h1 {
  @apply font-title;
  @apply text-4xl font-semibold sm:text-6xl;
  letter-spacing: theme('letterSpacing.wide');
  @apply mb-6 lg:mb-8;
  @apply leading-normal;
  @apply tracking-tight;
}

h2 {
  @apply font-title;
  @apply !text-3xl font-medium sm:!text-5xl;
  letter-spacing: theme('letterSpacing.wide');
  @apply leading-snug;
  @apply mt-1 mb-6;
}

h3 {
  @apply font-title;
  @apply !text-2xl font-bold sm:!text-4xl sm:font-normal;
  @apply mt-12 mb-6;
}

h4,
h5,
h6 {
  @apply font-title;
  @apply text-2xl font-bold sm:text-3xl sm:font-normal;
}

p {
  @apply mb-5;
}

ul {
  @apply list-outside;
}

details ul {
  @apply !list-none;
}

details ul li::before {
  content: '➤ ';
  font-size: 1rem;
}

label {
  @apply capitalize;
}

li {
  @apply leading-8;
  @apply mb-5;
}

label {
  @apply text-2xl;
  @apply mb-2 mt-4;
}

.text-input {
  @apply rounded-2xl;
  @apply py-4;
  @apply text-xl;
}

.text-input {
  @apply focus:outline-offset-[-1px] focus:outline-primary-bright;
}

.button {
  @apply font-title;
  @apply flex;
  @apply w-fit items-center text-center sm:items-stretch;
  @apply rounded-2xl border;
  @apply mt-8 py-4 px-8;
  @apply duration-500 hover:scale-105;
}

.button.primary {
  @apply font-medium;
  @apply bg-primary-bright;
  @apply text-white;
}

.button.secondary {
  @apply font-semibold;
  @apply border-primary-700;
}

.task-list-item::before {
  content: '✓ ';
  @apply text-primary-500;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

.accordion-item::after {
  content: '➤';
  @apply rotate-90;
  @apply inline-block;
  @apply ml-1;
  @apply text-lg;
}

.dropdown-toggle::after {
  content: '➤';
  @apply rotate-90;
  @apply inline-block;
  @apply ml-2;
  @apply text-lg;
}

.link {
  @apply text-secondary-600 hover:text-secondary-700;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}
