@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LexieReadable';
  font-weight: 400;
  src: local('LexieReadable-Regular'),
    url(../public/static/fonts/LexieReadable/LexieReadable-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'LexieReadable';
  font-weight: 500;
  src: local('LexieReadable-Bold'),
    url(../public/static/fonts/LexieReadable/LexieReadable-Bold.ttf) format('truetype');
}

body {
  @apply text-xl;
  @apply leading-8;
}

header > p {
  @apply text-secondary-600;
  @apply mt-1 mb-4;
}

h1 {
  font-weight: 500;
  @apply text-4xl sm:text-6xl;
  letter-spacing: theme('letterSpacing.wide');
}

h2 {
  font-weight: 700;
  @apply text-3xl sm:text-5xl;
  letter-spacing: theme('letterSpacing.wide');
  @apply leading-snug;
  @apply mt-1 mb-8;
}

h3 {
  @apply text-2xl sm:text-4xl;
  font-weight: 600;
}
p {
  @apply mb-5;
}

ul {
  @apply list-outside;
}

/*ul li:before {*/
/*  content: '✓ ';*/
/*  @apply text-primary-500;*/
/*}*/

li {
  @apply leading-8;
  @apply mb-5;
}

.button {
  @apply inline-block flex;
  @apply w-fit items-center sm:items-stretch;
  @apply rounded-2xl border;
  @apply mt-8 py-4 px-8;
  @apply duration-500 hover:scale-105;
}

.button.primary {
  @apply bg-primary-bright;
  @apply text-white;
}

.button.secondary {
  @apply border-primary-700;
}

.task-list-item::before {
  content: '✓ ';
  @apply text-primary-500;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
